<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tarena.mapper.DepotMapper">
	
	<resultMap type="Depot" id="depotRM" autoMapping="true">
		<id column="depot_id" property="depotId"></id>
		<result column="depot_name" property="depotName"></result>
		<result column="address" property="address"></result>
		<result column="manager" property="manager"></result>
		<result column="phone" property="phone"></result>
		<result column="remarks" property="remarks"></result>
	</resultMap>
	
	<select id="findDepot" resultMap="depotRM" >
		select * from depot
	</select>
	
	<select id="findwd" resultMap="depotRM">
		select * from depot where depot_name like '%${name}%'
		
	</select>
</mapper>